<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770039217096-csn0dkt8op3pnauim5o9uth87574f8rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770039217096-csn0dkt8op3pnauim5o9uth87574f8rv</string>
	<key>API_KEY</key>
	<string>AIzaSyDNdSHvCT2bDCc2feCMG1sIBQDLndDyAtc</string>
	<key>GCM_SENDER_ID</key>
	<string>770039217096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>p.w.HappyFace</string>
	<key>PROJECT_ID</key>
	<string>happyface-4ac78</string>
	<key>STORAGE_BUCKET</key>
	<string>happyface-4ac78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770039217096:ios:d3ceaaeb0cdeeb45f05efd</string>
</dict>
</plist>